* {
  box-sizing: border-box;
}

body {
  background: rgba(0, 136, 136, .2);
  margin: 0;
}

#container {
  background: #088;
  height: 300px;
  margin: 0 auto;
  width: 1000px;
}

#racer1 {
  background: #fff;
  height: 100px;
  position: relative;
  top: 25px;
  width: 100px;
}

#racer2 {
  background: #000;
  height: 100px;
  position: relative;
  top: 45px;
  width: 100px;
}