* {
  box-sizing: border-box;
}

/**
 * font-family: 'Fira Sans', sans-serif;
 * font-family: 'Asap', sans-serif;
 * font-family: 'Ruda', sans-serif;
 */

body {
  background: #fc0;
}

@media only screen and (min-width: 768px) {}
  body {
    background: #deeaee;
    color: #c94c4c;
    font-family: 'Ruda', sans-serif;
    margin: 0;
  }

  a {
    color: #c94c4c;
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  h1 {
    font-size: 48px;
    text-align: center;
  }

  nav {
  }

  .button {
    background: #eea29a;
    border: 1px solid #eea29a;
    border-radius: 6px;
    color: #c94c4c;
    font-size: 16px;
    font-weight: 700;
    height: 45px;
    line-height: 45px;
    margin: 10px auto;
    text-align: center;
    width: 280px;
  }

  #container {
    background: #b1cbbb;
    height: 300px;
    margin: 0 auto;
    width: 750px;
  }

  #winningLine {
    background: #c94c4c;
    height: 300px;
    left: 700px;
    position: relative;
    top: -200px;
    width: 4px;
  }

  #racer1 {
    background: url('../images/whiteHorse.png') no-repeat;
    height: 100px;
    position: relative;
    top: 25px;
    width: 100px;
  }

  #racer2 {
    background: url('../images/blackHorse.png') no-repeat;
    height: 100px;
    position: relative;
    top: 45px;
    width: 100px;
  }
}